body {
    background-color: #bebebe;
}

.flex-container {
    display: flex;
    /* justify-items:stretch; */
    align-items: center;
    /* height: 700px; */

    border: 3px solid black;

}

.flex-items {
    width: 300px;
    /* height: 300px; */
    
}

.item1 {
    border: 3px solid red;
    height: 300px;
}

.item2 {
    border: 3px solid white;
    height: 350px;
}

.item3 {
    border: 3px solid blue;
    height: 600px;
}